.quizes {
    display: flex;
    justify-content: space-around;

}

@media screen and (max-width: 688px) {
    .quiz-div {
        padding-bottom: 3rem;
    }

    .quizes {
        display: grid;

        width: 100%;
        justify-items: center;

        gap: 2rem;
        padding-left: -2rem;
        padding-right: 0;
    }

}