html {
    background-image: url('https://media.gettyimages.com/id/161674909/video/floating-question-marks-background-loop-pastel-blue-hd.jpg?s=640x640&k=20&c=rpU1C_vbiHzHrJFXZUUTjx2pVGWdPca573h1Gcl5AP4=');

    background-repeat: no-repeat;
    background-size: cover;

}

.quizoo {
    color: darkslateblue;

    text-align: center;
    margin-top: 12rem;
    margin-bottom: 12rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.quizoo h1 {
    /* background-color: rgb(193, 248, 229); */
    border-radius: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.quizoo button {
    height: 3rem;
    width: 12rem;
    background-color: darkcyan;
    border: none;
}

.quizoo a {
    text-decoration: none;
    color: white;
    font-size: large;

}