.header {
    /* background-color: cornsilk; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.header a {
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header a:hover {
    background-color: skyblue;
}

@media screen and (max-width: 688px) {
    .header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1rem;
        width: 100%;

    }

    .header nav {
        grid-column-gap: .5rem;

    }


}